Flask
Django
requests
beautifulsoup4

pandas
numpy
matplotlib
scipy
seaborn

scikit-learn
tensorflow
keras
xgboost

SQLAlchemy
psycopg2
sqlite

Pillow
opencv-python

pyyaml
click

os
sys
datetime
json
collections
pathlib
logging